<header class="site-header" role="banner">

    <!-- Main Navigation Menu tile -->
        <div class="tile nav-menu-tile">
          <a href="#">
            <h2>MENU</h2>
          </a>
        </div>

        <!-- Logo tile -->
        <div class="tile logo-tile">
          <a href="{{ .Site.BaseURL }}">
            <img src="./images/delParc logo.png" alt="del Parc logo" width="270" height="60">
            </a>
        </div>

        <!-- Social Media tile -->
        <div class="tile social-media-tile">
          <a href="https://twitter.com/delParc" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.instagram.com/delparc/" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="tel:02072815684">
            <i class="fas fa-phone"></i>
          </a>
          <a href="mailto:info@delparc.com">
            <i class="far fa-envelope"></i>
          </a>
        </div>

</header>
