/*--------------------------------------------------------------
0.0 GLOBAL STYLES
1.0 SITE HEADER
2.0 HOMEPAGE
3.0 MAIN NAVIGATION MENU PAGE & FOOD MENUS PAGE
4.0 INTERNAL PAGES
5.0 OTHER INTERNAL PAGES
6.0 FOOTER
7.0 MEDIA QUERIES
--------------------------------------------------------------*/
/*--------------------------------------------------------------
0.0 GLOBAL STYLES
--------------------------------------------------------------*/
// border-box box model allows us to add padding and border to our elements without increasing their size
html {
    box-sizing: border-box;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 18px;
    color: #323232;
  }

// We inherit box-sizing: border-box; from our <html> selector
// Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: block;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 5px;
}

h2 {
    font-size: .75em;
    text-transform: uppercase;
}

h3 {
    font-size: .5em;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #323232;

    &:hover,
    &:focus {
        color: #e5c100;
    }

}

.site-main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.tile {
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-size: 35px;

  p {
      font-size: 18px;
      margin: 0 0 5px;
  }

}

.page-title-bar {
    grid-column: 1 / -1;
    height: 120px;
    background-image: url('/images/dummy-storefront.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;

  h1 {
      font-size: 36px;
      text-transform: uppercase;
  }

}

/*--------------------------------------------------------------
1.0 SITE HEADER
--------------------------------------------------------------*/
.site-header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.nav-menu-tile {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  position: relative;
  z-index: 10;
}

.logo-tile {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  height: 120px;

  a {
    height: 60px;
  }
}

.social-media-tile {
  grid-column: 10 / 13;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 30px;

  a {
    text-align: center;
  }
}

/*--------------------------------------------------------------
2.0 HOMEPAGE
--------------------------------------------------------------*/
.hero-tile {
    grid-column: 1 / 9;
    height: 510px;
    background-image: url('/images/dummy-storefront.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    h1 {
        font-size: 1em;
        text-align: center;
        align-self: center;

        a {
            color: white;
            border: solid 1px white;
            border-radius: 5px;
            padding: 0.125em 0.5em;

            &:hover,
            &:focus {
                color: #e5c100;
                border: solid 1px #e5c100;
            }

        }

    }

}

.info-tile {
    grid-column: 9 / -1;
    height: 510px;

    a {
        text-decoration: none;
        color: #323232;

        &:hover,
        &:focus {
            color: #e5c100;
        }

    }

}

.info-tile h2,
.info-tile p {
  text-align: center;
}

.info-tile a {
  text-decoration: underline;
}

.hp-food-menus-tile {
  grid-column: 1 / 4;
  height: auto;
  text-align: center;
  background: url('/images/menus.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
}

.hp-food-menus-tile h2,
.drinks-tile h2,
.shop-tile h2
{
  color: white;
  border: solid 1px white;
  border-radius: 5px;
  padding: 1em;
}

.hp-food-menus-tile a:hover h2,
.drinks-tile a:hover h2,
.shop-tile a:hover h2
{
  color: #e5c100;
  border: solid 1px #e5c100;
}

.about-tile {
  grid-column: 4 / 10;
  height: auto;

  p {
      padding: 2em;
  }

  a {
      text-decoration: underline;
  }

}

.drinks-tile {
  grid-column: 10 / -1;
  height: auto;
  text-align: center;
  background: url('/images/drinks.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
}

.shop-tile {
    grid-column: 1 / -1;
    height: 480px;
    color: white;
    text-align: center;
    background: url('/images/shop-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/*--------------------------------------------------------------
3.0 MAIN NAVIGATION MENU PAGE & FOOD MENUS PAGE
--------------------------------------------------------------*/
.menu-tile,
.food-menus-list-tile,
.drinks-list-tile {
  grid-column: 1 / -1;
  grid-row: 2 / 3;

  ul {
   list-style-type: none;
   padding-left: 0;
   text-align: center;

   li {
     font-size: .75em;
     font-weight: bold;
     text-transform: uppercase;
     margin-bottom: 1rem;
   }
  }
}

/*--------------------------------------------------------------
4.0 INTERNAL PAGES
--------------------------------------------------------------*/
.food-menu-tile,
.about-page-tile,
.shop-page-tile,
.contact-page-tile,
.not-found-page-tile {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  max-width: 700px;
  margin: 0 auto;
  padding: 1em .5em;

  p {
    font-size: 21px;
    text-align: center;
    margin-bottom: 1em;
  }

  h3 {
    text-align: center;
    text-decoration: underline;
  }

  h4 {
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
  }

  a {
    text-decoration: underline;
  }
}

.drinks-menu-tile {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  max-width: 900px;
  margin: 0 auto;
  padding: 1em .5em;

  p {
    font-size: 21px;
    text-align: center;
    margin-bottom: 1em;
  }

  h3 {
    text-align: center;
    text-decoration: underline;
  }

  h4 {
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
  }

  a {
    text-decoration: underline;
  }
}

/*--------------------------------------------------------------
5.0 OTHER INTERNAL PAGES
--------------------------------------------------------------*/
.privacy-policy-tile {
  grid-column: 3 / 11;
  grid-row: 2 / 3;
  padding-top: 1em;
  padding-bottom: 1em;

  p {
    font-size: 21px;
    margin-bottom: 1em;
  }

  h4 {
    font-size: 30px;
    text-decoration: underline;
  }

  a {
    text-decoration: underline;
  }
}

/*--------------------------------------------------------------
6.0 FOOTER
--------------------------------------------------------------*/
.site-footer__copyright,
.site-footer__credits,
.site-footer__menu {
  text-align: center;
  font-size: 14px;

  a {
    color: #323232;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: #e5c100;
    }
  }
}

.site-footer__copyright {
  margin-bottom: -10px;
}

/*--------------------------------------------------------------
7.0 MEDIA QUERIES
--------------------------------------------------------------*/
@media (max-width: 1080px) {
  .hero-tile,
  .info-tile {
    height: auto;
  }
  .about-tile {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
  .hp-food-menus-tile {
    grid-column: 1 / 7;
    grid-row: 3 / 4;
    height: 240px;
    margin-left: 0;
  }
  .drinks-tile {
    grid-column: 7 / -1;
    grid-row: 3 / 4;
    height: 240px;
    margin-right: 0;
  }
}

/* Tablet resolution */
@media (max-width: 930px) {
  /* GLOBAL */
  .nav-menu-tile {
    grid-column: 1 / 7;
    grid-row: 2 / 3;
  }
  .social-media-tile {
      grid-column: 7 / -1;
      grid-row: 2 / 3;
    }

  /* HOMEPAGE */
  .hero-tile {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
  .hero-tile h1 {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .info-tile {
    grid-column: 1 / 7;
    grid-row: 2 / 3;
  }
  .about-tile {
    grid-column: 7 / -1;
    grid-row: 2 / 3;
  }
  .hp-food-menus-tile {
    grid-column: 1 / 7;
    grid-row: 3 / 4;
  }
  .drinks-tile {
    grid-column: 7 / -1;
    grid-row: 3 / 4;
  }
  .shop-tile {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
  }
}

/* Mobile resolution */
@media (max-width: 630px) {
  /* GLOBAL */
  .nav-menu-tile {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
  .social-media-tile {
      grid-column: 1 / -1;
      grid-row: 3 / 4;
  }
  .page-title-bar h1 {
      font-size: 30px;
  }
  .food-menu-tile p,
  .drinks-menu-tile p,
  .drinks-menu-tile h4,
  .about-page-tile p {
    margin-left: .75em;
    margin-right: .75em;
  }
/* HOMEPAGE */
  .hero-tile {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
  .hero-tile h1 {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .info-tile {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
    }
  .about-tile {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }
  .hp-food-menus-tile {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
  }
  .drinks-tile {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
  }
  .shop-tile {
    grid-column: 1 / -1;
    grid-row: 6 / 7;
  }
}
