html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;

  /* A system font stack so things load nice and quick! */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  font-size: 10px; */
  font-family: "Gloria Hallelujah", cursive;
  color: #323232;
}

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* what is the following about? */
  min-height: calc(100vh - 100px);
  /* letter-spacing: -1px; will this be necessary with the new font ??? */
}

a {
  text-decoration: underline;
  color: #323232;
}

a:hover {
  color: #e5c100;
}

p {
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}

hr {
  border-style: none;
  height: 30px;
}

.intro p,
.contact-details p {
  line-height: 1;
}

.footer p {
  font-size: 20px;
}

.container {
  max-width: 630px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.main-logo {
  height: 100px;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
}

.social-media {
  font-size: 30px;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: space-evenly;
}
