{{ define "main" }}

<!-- Hero tile -->
    <div class="tile hero-tile">
      <h1>Intimate Modern Tapas Restaurant <br />with a North African Twist in North London<br /><a href="tel:02072815684">BOOK A TABLE</a></h1>
    </div>

    <!-- Info tile -->
    <div class="tile info-tile">
      <h2>Make a Reservation</h2>
      <p>Please call <a href="tel:02072815684">0207 281 56 84</a></p>
      <h2>Opening Times</h2>
      <p>Wednesdays to Saturdays<br />
        Tapas Bar and Restaurant<br />
        open at 7pm</p>
      <p>Mondays, Tuesdays<br />
        & Sundays night closed</p>
      <h2><a href="https://www.google.co.uk/maps/place/Cafe+Del+Parc/@51.5606648,-0.136993,16z/data=!4m5!3m4!1s0x0:0x3e9269e09b58e3b4!8m2!3d51.5606648!4d-0.136993" target="_blank">See us on the map</a></h2>
    </div>

    <!-- Food Menus tile -->
    <div class="tile hp-food-menus-tile">
      <a href="/food-menus">
        <h2>Food Menus</h2>
      </a>
    </div>

    <!-- About tile -->
    <div class="tile about-tile">
      <p>del Parc evolved from Cafe del Parc Mediterranean restaurant into del Parc Tapas in August 2005.<br /><br />
        Our passion for fine Spanish produce has evolved into wonderful & exciting dishes with an North African influence. Our Tapas are more sharing plates than traditional Tapas.<br /><br />
        del Parc is now delighted to host private gatherings, lunches & Christmas get togethers, please <a href="mailto:info@delparc.com">email</a> or <a href="tel:02072815684">call</a> Alan for information, sample menu available on request or <a href="/food-menu-christmas">check the Christmas page</a>.</p>
    </div>

    <!-- Drinks tile -->
    <div class="tile drinks-tile">
      <a href=/drinks>
        <h2>Drinks</h2>
      </a>
    </div>

    <!-- Shop tile -->
    <div class="tile shop-tile">
      <a href=/about>
        <h2>About Us</h2>
      </a>
    </div>

{{ end }}
